<nav class="navbar navbar-expand-lg navbarCls">
	<div class="container-fluid m-2">
		<img class="me-2" src="/img/Dheeraj_Gawali_logo.png" alt="" width="30px">
		<a class="navbar-brand brandNameCls" href="#">Dheeraj Gawali</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav nav-links">
				<li class="nav-item">
					<a class="nav-link active" routerLink="/" routerLInkActive="active">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
				</li>
				<li class="nav-item refLinkCls">
					<a class="nav-link" href="https://linkedin.com/in/dheeraj-gawali-46272017a" target="_blank" rel="noopener noreferrer">Linkedin</a>
				</li>
				<li class="nav-item refLinkCls">
					<a class="nav-link" href="https://github.com/Dheeraj-Gawali" target="_blank" rel="noopener noreferrer">GitHub</a>
				</li>
			</ul>
		</div>
	</div>
</nav>