<footer class="footer-section">

    <div class="container">

        <div class="footer-content">


            <h3>
                Dheeraj Gawali
            </h3>


            <p class="role">
                Senior Angular Developer
            </p>


            <p class="tech">
                Building scalable and responsive Angular applications with clean architecture.
            </p>

            <hr>

            <p class="copyright">

                © {{currentYear}} Dheeraj Gawali.
                All rights reserved.

            </p>


            <p class="built">

                Built with Angular 20 ❤️

            </p>


        </div>

      <button
      class="top-btn"
      (click)="scrollTop()">

      ↑

      </button>
    </div>


</footer>