<section class="about bgColorClass">
	<div class="container">
		<!-- <h2>About Me</h2> -->
		<div class="aboutCard">
			{{ profile.summary }}
		 </div>
		<!-- <p class="summary"></p> -->

		<h3 class="mb-2">Skills</h3>
		<ul class="skills">
			<li *ngFor="let skill of skills">{{ skill }}</li>
		</ul>

		<h3 class="mb-2">Experience</h3>
		<div *ngFor="let exp of experiences" class="experience">
			<h4>{{ exp.role }} - {{ exp.company }}</h4>
			<p class="duration">{{ exp.duration }}</p>
			<ul>
				<li *ngFor="let project of exp.projects">
					<strong>{{ project.name }}:</strong> {{ project.description }}
				</li>
			</ul>
		</div>
	</div>
</section>