.project-card {
  background: linear-gradient(135deg, #161b2b, #112851);
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.project-card ul {
  margin-top: 12px;
  padding-left: 20px;
}
